@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-brand-purple: #8c52ff;
  --color-brand-blue: #5ce1e6;
}

body {
  font-family: var(--font-inter);
}
